block content

  h1 Pracenje zutih kartona i prijave
  title Dobrodosli
  ul Lista pravila
    li Zuti karton traje 48 sati
    li Prijava reposta(osim ako se radi o adminu) treba biti potvrdena od strane svih clanova(osim admina, uglavnom ako admin kaze da je repost a svi ostali kazu da nije, posiljatelj reela dobiva zuti karton)


  table 
    tr 
      th Ime
      th Broj zutih
  