.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

td,th{
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
}

table,td,th{
  border-collapse: collapse;
}

textarea, select{
  display: block;
}

.complaint-box{
  height: 20rem;
  width: 50rem;
}