html,body{
  text-align: center;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

td,th{
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
}
table{
  width: 100%;
}

table,td,th{
  border-collapse: collapse;
}

textarea, select, input{
  display: block;
  width: 100%;
}

.complaint-box{
  height: 10rem;
  width: 100%;
}

form{
  padding: 20px;
}
#main-wrapper, form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}